<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="../assets/css/test.css">
  <style type="text/css">
    body {
      overflow: auto;
    }
  </style>
</head>
<body>
  <div id="app">
      12121436466
  </div>
  <script src="../assets/js/test.js"></script>
  <script src="../assets/js/jquery.js"></script>
  <script>
    $(function(){
      console.log($);
    })
  </script>
</body>
</html>